node_modules
uploads
uploads/*
.env
.git
.gitignore
.env.local
.env.development
.env.test
.env.production

npm-debug.log*

.vscode
*.md 
*.txt

# models-cache folder
.models-cache
.models-cache/*

# test files
/src/test
/src/test/*